@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Open+Sans:wght@300;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebeef3;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    height: 80px;
    box-sizing: border-box;

    width: 100%;
}

.header-title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 9px;
    margin-left: 22px;
    margin-right: auto;
}
.header-title-buttons {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 9px;
    margin: 6px 18px;
    padding: 6px 18px;
    cursor: pointer;
    text-decoration: none;
}
.header-title-buttons:hover {
    text-decoration: underline;
    background-color: #fff;
}

.signin {
    color: #52c41a;
    border: 1px solid #52c41a;
    border-radius: 5px;
}

.logout {
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    margin-left: 27px;
}
.body {
    width: 100%;
    max-width: 960px;
    min-height: 300px;

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.article-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 941px;
    height: 140px;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-bottom: 26px;
    background-color: #fff;
}

.article-preview-in-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 941px;
    height: 140px;
    box-sizing: border-box;

    margin-bottom: 26px;
}

.article-info {
    display: flex;
    flex-direction: column;

    width: 682px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 24px;
}

.article-title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #1890ff;
    text-decoration: none;
    overflow: hidden;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.article-profile {
    display: flex;
    flex-direction: row;

    margin-top: 15px;
    margin-right: 14px;
    margin-bottom: 24px;
}

.article-author {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;

    height: 46px;
    box-sizing: border-box;
}

.author {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
}

.date {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.article-description {
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.75);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 5px;
}

.tag {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(0, 0, 0, 0.5);
    padding: 1px 4px 1px 3px;
    margin-right: 8px;
}

.article {
    height: 670px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.article-body {
    margin: 25px 42px 30px 20px;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}

.newAccount {
    width: 384px;
    height: 599px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.newPost {
    width: 938px;
    min-height: 701px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.newAccount-wrapper {
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
}

.newAccount-form {
    display: flex;
    flex-direction: column;
}

.newAccount-title {
    font-family: 'Roboto', sans-serif;
    color: #262626;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.newAccount-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding: 8px 12px;
    margin-bottom: 0;
    outline: none;
}

.newAccount-input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    color: #bdbdbd;
}

.newAccount-label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    color: #262626;
}

.terms {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #595959;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 21px;
}

.validate-error {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 12px;
}

.header-have-token {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-create-article {
    border: 1px solid #52c41a;
    border-radius: 5px;
    color: #52c41a;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 3px 8px;
    margin: 12px 0;
    text-decoration: none;
}

.header-logged-name {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 26px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.85);
}

.header-user-image {
    margin-left: 13px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.dynamic-inputs {
    display: flex;
    flex-direction: row;

    margin-top: 5px;
}

.tag-buttons {
    background-color: transparent;

    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding: 0 16px;
    cursor: pointer;
}

.delete {
    color: #f5222d;
    border: 1px solid #f5222d;
    margin-left: 15px;
}

.add {
    color: #1890ff;
    border: 1px solid #1890ff;
    margin-left: 15px;
}

.add1 {
    color: #1890ff;
    border: 1px solid #1890ff;
}

.article-right-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
